.switch-mode-container {
  height: 48px;
  transition: background-color 0.3s cubic-bezier(0.2, 0, 0, 1);
  border: 2px solid transparent;
  border-radius: 32px;
  outline: 1px solid var(--md-sys-color-on-surface-variant);
  cursor: pointer;
  user-select: none;
  overflow: hidden;

  &[variant="compact"] {
    width: 48px;
    height: 48px;
    .switch {
      width: 48px;
      height: 48px;
    }
  }

  &[variant="full"] {
    .switch {
      padding: 11px 16px;
      .material-symbols-outlined {
        margin-right: 8px;
      }
    }
  }
  .track {
    transition: transform 0.3s cubic-bezier(0.2, 0, 0, 1);
    &.move {
      transform: translateY(-46px);
    }
  }

  .switch {
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
      .material-symbols-outlined {
        font-variation-settings:
          "FILL" 1,
          "wght" 600,
          "opsz" 24;
      }
    }
  }
}
.switch-logo {
  height: 24px;
  width: 24px;
  mask: var(--logo-url);
  background-color: currentColor;
}
