<div class="text-center mt-5">
    <div class="my-5 d-block d-md-none">
        <app-switch-mode-dark variant="full"></app-switch-mode-dark>
    </div>
    <p>Crafted by</p>
    <md-outlined-button class="me-3" href="https://twitter.com/ngneat_org" target="_blank">
        <img src="https://github.com/ngneat.png?size=300" class="rounded-circle align-middle me-2" width="24" alt="">
        ngneat
      </md-outlined-button>
      
      <md-outlined-button href="https://twitter.com/shhdharmen" target="_blank">
        <img src="https://github.com/shhdharmen.png?size=300" class="rounded-circle align-middle me-2" width="24" alt="">
        shhdharmen
      </md-outlined-button>
    <p class="text-muted">
        <small>
            Inspired from
            <a
            class="text-decoration-none text-muted fw-bold"
              href="http://github.com/nusu/avvvatars"
              target="_blank"
              rel="noopener noreferrer"
              >github.com/nusu/avvvatars</a
            >
        </small>
    </p>
</div>