<app-gradient-wrapper>
  <div class="container h-100">
    <div class="d-flex w-100 flex-column h-100">
      <h1 class="headline-large">&#64;ngneat/avvvatars</h1>
      <img
        src="/assets/logo.svg"
        height="150"
        width="150"
        alt="logo"
        class="mb-3"
      />
      <h3 class="title-large">
        Beautifully crafted unique avatar placeholder for your next angular
        project.
      </h3>
      
      <div class="w-50 mt-auto">
        <app-switch-mode-github variant="full"></app-switch-mode-github>
      </div>
    </div>
  </div>
</app-gradient-wrapper>
