<app-gradient-wrapper>
  <div class="container h-100">
    <div class="d-flex w-100 flex-column h-100">
      <div class="text-left">
        <h1 class="headline-large">&#64;ngneat/avvvatars</h1>
        <img
          src="https://raw.githubusercontent.com/ngneat/avvvatars/main/assets/logo.svg"
          height="150"
          width="150"
          alt="logo"
          class="g-col-12 g-col-md-4"
        />
      </div>
      <h3 class="title-large">
        Beautifully crafted unique avatar placeholder for your next angular
        project.
      </h3>

      <ul class="list-unstyled ps-0 grid">
        <li class="g-col-6 g-col-md-4 fw-medium">🌈 40 Colors</li>
        <li class="g-col-6 g-col-md-4 fw-medium">💠 60 Shapes</li>
        <li class="g-col-6 g-col-md-4 fw-medium">🆎 Text or Shapes</li>
        <li class="g-col-6 g-col-md-4 fw-medium">🤠 Unique to user</li>
        <li class="g-col-6 g-col-md-4 fw-medium">✍️ Customizable</li>
      </ul>
      <app-switch-mode-github
        variant="full"
        class="d-none d-md-flex mt-auto"
      ></app-switch-mode-github>
      <div class="d-block d-md-none mt-auto">
        <md-filled-button>
          <span
            aria-hidden="true"
            class="material-symbols-outlined switch-logo align-middle"
            style="
              --logo-url: url(&quot;https://raw.githubusercontent.com/ngneat/avvvatars/main/src/assets/github.svg&quot;);
            "
          >
          </span>
          Give us star on GitHub
        </md-filled-button>
      </div>
    </div>
  </div>
</app-gradient-wrapper>
