<div class="p-3 surface-variant">
  <div class="d-flex">
    <div class="actions-container d-none d-md-block">
      <app-actions></app-actions>
    </div>
    <div class="main-grid surface">
      <div class="scroll-wrapper">
        <div class="rounded-5 p-3">
          <div class="grid mb-5">
            <div class="g-col-12 mb-4 g-col-md-6">
              <div class="rounded-5 border p-3 h-100 overflow-hidden">
                <app-cover></app-cover>
              </div>
            </div>
            <div class="g-col-12 mb-4 g-col-md-6">
              <div
                class="rounded-5 border p-3 h-100 bg-primary border-primary"
                style="--bs-bg-opacity: 0.0375"
              >
                <app-avatar-demo></app-avatar-demo>
              </div>
            </div>
            <!-- <div class="g-col-12 mb-4 g-col-md-1">
                <div class="rounded-5 border p-3 h-100">
                  <app-actions></app-actions>
                </div>
              </div> -->
            <div class="g-col-12 mb-4 g-col-md-4">
              <div
                class="rounded-5 border p-3 h-100 bg-secondary"
                style="--bs-bg-opacity: 0.0375"
              >
                <app-installation></app-installation>
              </div>
            </div>
            <div class="g-col-12 mb-4 g-col-md-4">
              <div
                class="rounded-5 border p-3 h-100 bg-secondary"
                style="--bs-bg-opacity: 0.0375"
              >
                <app-setup></app-setup>
              </div>
            </div>
            <div class="g-col-12 mb-4 g-col-md-4">
              <div
                class="rounded-5 border p-3 h-100 bg-secondary"
                style="--bs-bg-opacity: 0.0375"
              >
                <app-usage></app-usage>
              </div>
            </div>
          </div>
          <app-footer></app-footer>
        </div>
      </div>
    </div>
  </div>
</div>
